services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tl_assignment
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "5432:5432"
    networks:
      - appnet

  app:
    image: tl_assignment
    build: .
    environment:
      DB_DSN: postgresql://postgres:postgres@db:5432/tl_assignment
      JSON_PATH: /data/sample-data.json
      BATCH_ROWS: "10000"
      MAX_QUEUE: "5"
    depends_on:
      - db
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

